<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top__menu">
                <div class="footer-top__column">
                    <div class="footer-top__title">О Компании</div>
                    <ul>
                        <li>
                            <a href="./">История бренда</a>
                        </li>
                        <li>
                            <a href="./">Магазины</a>
                        </li>
                        <li>
                            <a href="./">Реквизиты</a>
                        </li>
                        <li>
                            <a href="./">Лукбук</a>
                        </li>
                        <li>
                            <a href="./">Вакансии</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <div class="footer-top__title">Информация покупателю</div>
                    <ul>
                        <li>
                            <a href="./">Как сделать заказ</a>
                        </li>
                        <li>
                            <a href="./">Как выбрать размер</a>
                        </li>
                        <li>
                            <a href="./">Доставка и оплата</a>
                        </li>
                        <li>
                            <a href="./">Обмен и возврат</a>
                        </li>
                        <li>
                            <a href="./">Программа лояльности</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contacts">
                <div class="contacts__top">
                    <div class="contacts__text">
                        Будь в курсе наших новинок и специальных предложений
                    </div>
                    <a href="./" class="btn btn-primary">Подписаться</a>
                </div>
                <div class="contacts__contact">
                    <a href="tel:74951200265">+7 (495) 120 02 65</a>
                    <a href="mailto:info.department@mayorgo.ru">info.department@mayorgo.ru</a>
                </div>
                <div class="socials">
                    <a href="./">YouTube</a>
                    <a href="./">ВКонтакте</a>
                    <a href="./">Telegram</a>
                    <a href="./">MAX</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>
                MAYORGO, 2026
            </p>
        </div>
    </div>
</footer>