<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery.hoverIntent.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/jquery.picZoomer.js"></script>
<script src="js/jquery.scrollbar.js"></script>
<script src="js/backgroundVideo.js"></script>
<script src="js/cart.js"></script>
<script src="js/filter.js"></script>
<script src="js/forms.js"></script>
<script src="js/func.liveselect.js"></script>
<script src="js/ion.rangeSlider.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/map.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/slick.js"></script>
<script src="js/swiper-8.4.7.min.js"></script>
<script src="js/inputmask.min.js"></script>
<script src="js/fancybox.umd.js"></script>
<script src="js/dynamic_adapt.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/scripts-new.js"></script>