<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-bannner block-bannner1">
                <div class="block-bannner__slider swiper">
                    <div class="block-bannner__wrapper swiper-wrapper">
                        <a href="./" class="block-bannner__slide swiper-slide">
                            <img src="img/image1.webp" alt="" class="desc">
                            <img src="img/image1-mob.webp" alt="" class="mob">
                        </a>
                        <a href="./" class="block-bannner__slide swiper-slide">
                            <img src="img/image15.webp" alt="" class="desc">
                            <img src="img/image15-mob.webp" alt="" class="mob">
                        </a>
                    </div>
                </div>
                <div class="arrows">
                    <div class="block-bannner__arrow-prev arrow-prev">
                        <svg aria-hidden="true" width="14" height="26">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="block-bannner__arrow-next arrow-next">
                        <svg aria-hidden="true" width="14" height="26">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                </div>
                <div class="block-bannner__pagination pagination"></div>
            </div>

            <div class="block-products block-products1">
                <div class="container">
                    <div class="block-products__slider swiper swiper-disabled">
                        <div class="block-products__wrapper swiper-wrapper">
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image2.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Рекомендации
                                        <span>Новинки</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image3.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Рекомендации
                                        <span>Трикотаж</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image4.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Рекомендации
                                        <span>Деним</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="block-products__arrow-prev arrow-prev">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <div class="block-products__arrow-next arrow-next">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-products">
                <div class="container">
                    <h2 class="title2">
                        Лучшие образы Новой коллекции
                    </h2>
                    <div class="block-products__slider swiper">
                        <div class="block-products__wrapper swiper-wrapper">
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites active">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./" class="product-card__image-mob">
                                            <img loading="lazy" src="img/image7.webp" alt="">
                                        </a>
                                        <a href="./" class="product-card__tabs">
                                            <div class="product-card__photos">
                                                <div class="product-card__photo active">
                                                    <img loading="lazy" src="img/image7.webp" alt="">
                                                    <div class="product-card__photo-nav"></div>
                                                </div>
                                                <div class="product-card__photo">
                                                    <img loading="lazy" src="img/image8.webp" alt="">
                                                    <div class="product-card__photo-nav"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image8.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>13 800</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image9.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image10.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>13 800</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites active">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image7.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image8.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>13 800</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image9.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image10.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>13 800</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="./" class="btn">Перейти к подборке</a>
                    <div class="arrows">
                        <div class="block-products__arrow-prev arrow-prev">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <div class="block-products__arrow-next arrow-next">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-products block-products1">
                <div class="container">
                    <div class="block-products__slider swiper">
                        <div class="block-products__wrapper swiper-wrapper">
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image11.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span>Дыхание весны</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image12.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span> Земля и небо</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image13.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span>Тайный сад</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image14.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span>Зефир</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image11.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span>Дыхание весны</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image12.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span> Земля и небо</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image13.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span>Тайный сад</span>
                                    </a>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <a href="./">
                                            <img loading="lazy" src="img/image14.webp" alt="">
                                        </a>
                                    </div>
                                    <a href="./" class="product-card__item-image">
                                        Капсула
                                        <span>Зефир</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="block-products__arrow-prev arrow-prev">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <div class="block-products__arrow-next arrow-next">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-bannner">
                <div class="block-bannner__slider swiper">
                    <div class="block-bannner__wrapper swiper-wrapper">
                        <a href="./" class="block-bannner__slide swiper-slide">
                            <img src="img/image15.webp" alt="" class="desc">
                            <img src="img/image15-mob.webp" alt="" class="mob">
                        </a>
                        <a href="./" class="block-bannner__slide swiper-slide">
                            <img src="img/image1.webp" alt="" class="desc">
                            <img src="img/image1-mob.webp" alt="" class="mob">
                        </a>
                    </div>
                </div>
                <div class="arrows">
                    <div class="block-bannner__arrow-prev arrow-prev">
                        <svg aria-hidden="true" width="14" height="26">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="block-bannner__arrow-next arrow-next">
                        <svg aria-hidden="true" width="14" height="26">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                </div>
                <div class="block-bannner__pagination pagination"></div>
            </div>

            <div class="block-products">
                <div class="container">
                    <h2 class="title2">
                        Хиты распродажи
                    </h2>
                    <div class="block-products__slider swiper">
                        <div class="block-products__wrapper swiper-wrapper">
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image16.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image17.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image18.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image19.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image16.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image17.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image18.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-products__slide swiper-slide">
                                <div class="product-card">
                                    <div class="product-card__image">
                                        <div class="favorites">
                                            <img loading="lazy" src="img/icons/heart2.svg" alt=""
                                                class="favorites__icon1">
                                            <img loading="lazy" src="img/icons/heart3.svg" alt=""
                                                class="favorites__icon2">
                                        </div>
                                        <a href="./">
                                            <img loading="lazy" src="img/image19.webp" alt="">
                                        </a>
                                    </div>
                                    <div class="product-card__item">
                                        <a href="./" class="product-card__title">
                                            Футболка из хлопка
                                        </a>
                                        <div class="product-card__prices">
                                            <div class="product-card__price">
                                                <span>2 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__old-price">
                                                <span>6 900</span>
                                                <svg aria-hidden="true" width="10" height="13">
                                                    <use xlink:href="img/sprite.svg#ruble"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="./" class="btn">Перейти к подборке</a>
                    <div class="arrows">
                        <div class="block-products__arrow-prev arrow-prev">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                        <div class="block-products__arrow-next arrow-next">
                            <svg aria-hidden="true" width="14" height="26">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/cookies.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>