.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 55px 0px 35px;
    background: #fffefb;
    z-index: 98;
    @media (max-width: 1320px) {
        padding: 0px 20px;
    }
    // .header__content

    &__content {
        min-height: 50px;
        display: flex;
        align-items: center;
        gap: 170px;
        justify-content: space-between;
        position: relative;
        @media (max-width: 992px) {
            gap: 20px;
            position: static;
        }
    }

    // .header__logo

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 152px;
        display: block;
        img {
            width: 100%;
            height: auto;
        }
        @media (max-width: 992px) {
            width: 140px;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
        }
    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        gap: 40px;
        @media (max-width: 399px) {
            gap: 20px;
        }
    }

    // .header__icon

    &__icon {
        position: relative;
        flex: 0 0 20px;
        transition: opacity 0.3s;
        @media (max-width: 768px) {
            flex: 0 0 24px;
        }
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            opacity: 0.7;
        }
        &.header-search-button {
            @media (max-width: 768px) {
                display: none;
            }
        }
        &.header-login {
            span {
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
                color: #fff;
                display: none;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            img {
                @media (max-width: 768px) {
                    width: 24px;
                    height: 24px;
                    filter: invert(1) brightness(1000%);
                }
            }
        }
    }

    // .header__count

    &__count {
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #cfbba0;
        top: 1px;
        right: 1px;
        font-weight: 400;
        font-size: 5px;
        line-height: 150%;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            width: 12px;
            height: 12px;
        }
    }
}
.header-menu {
    // .header-menu__body

    &__body {
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            position: absolute;
            z-index: 100;
            top: 50px;
            left: -100%;
            width: 360px;
            height: calc(100vh - 50px);
            background: #fffefb;
            transition: left 0.3s;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .menu-open & {
                left: 0px;
            }
        }
        @media (max-width: 550px) {
            width: 100%;
        }
        .header__icon {
            background: var(--theme-color-accent);
            gap: 10px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            margin-top: auto;
            padding: 20px;
            min-height: 60px;
        }
    }
}
.header-menu-spollers {
    display: flex;
    @media (max-width: 992px) {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    // .header-menu-spollers__item

    &__item {
        position: relative;
        @media (max-width: 992px) {
            border-bottom: 1px solid var(--theme-color-accent);
        }
        @media (min-width: 993px) {
            min-width: 90px;
            &:first-child {
                .header-menu-spollers__items {
                    left: -35px;
                }
            }
            &:hover {
                .header-menu-spollers__items {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    // .header-menu-spollers__title

    &__title {
        width: 100%;
        padding: 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        text-align: center;
        position: relative;
        @media (min-width: 993px) {
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
        @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            gap: 20px;
            width: 100%;
            padding: 0px 0px 10px 0px;
        }
    }

    // .header-menu-spollers__arrow

    &__arrow {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
        &._spoller-active {
            svg {
                transform: rotate(-90deg);
            }
        }
        svg {
            transform: rotate(-90deg);
            fill: rgba(46, 25, 8, 0.3);
            transition: transform 0.3s;
            @media (max-width: 992px) {
                width: 8px;
                height: auto;
                transform: rotate(90deg);
                fill: var(--theme-color-accent);
            }
        }
        @media (max-width: 992px) {
            cursor: pointer;
            position: relative;
            left: 0;
            transform: translate(0, 0);
        }
    }

    // .header-menu-spollers__body

    &__body {
    }

    // .header-menu-spollers__items

    &__items {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (min-width: 993px) {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            position: absolute;
            left: 0;
            top: 100%;
            background: #fffefb;
            border-radius: 0 0 3px 3px;
            width: 305px;
            max-height: calc(100vh - 50px);
            padding: 20px;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @media (max-width: 1320px) and (min-width: 993px) {
            left: -20px;
        }
        @media (max-width: 992px) {
            padding: 0px 0px 20px 0px;
        }
        .contacts {
            display: flex;
            flex-direction: column;
            gap: 50px;
            @media (max-width: 992px) {
                display: none;
            }
        }
        .contacts__top {
            gap: 20px;
        }
        .contacts__text {
            font-size: 18px;
        }
        .socials {
            gap: 5px 10px;
            a {
                font-size: 15px;
            }
        }
    }

    // .header-menu-spollers__simplebar

    &__simplebar {
        max-height: 500px;
        @media (max-width: 992px) {
            max-height: 100%;
        }
        .simplebar-track {
            right: -10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
                a {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 110%;
                    color: #2e1908;
                    &.red {
                        color: #951e04;
                    }
                }
            }
        }
    }
}

.header-search {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 50px;
    background: #fffefb;
    right: 0;
    z-index: 99;
    border: 0.5px solid #2e1808;
    border-radius: 0px 0px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 300px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    @media (max-width: 768px) {
        display: none;
    }
    .search-open & {
        opacity: 1;
        pointer-events: auto;
    }
    input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        &::placeholder {
            color: #2e1808;
        }
    }

    // .header-search__button

    &__button {
        width: 20px;
        flex: 0 0 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.icon-menu {
    display: none;
    position: relative;
    width: 20px;
    height: 16px;
    cursor: pointer;
    z-index: 5;
    margin: 3px 1px;
    @media (max-width: 992px) {
        display: block;
    }
    span,
    &::before,
    &::after {
        content: "";
        transition: background-color 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: var(--theme-color-accent);
        border-radius: 10px;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        top: calc(50% - 0.7px);
    }
    .menu-open & {
        &::before {
            top: calc(50% - 0.7px);
            transform: rotate(-45deg);
        }
        span {
            width: 0;
        }
        &::after {
            content: "";
            bottom: calc(50% - 0.7px);
            transform: rotate(45deg);
        }
    }
}
